@media(max-width: 1200px) {
    html {
        font-size: 15px;
    }
    

}

@media(max-width: 991px) {
    html {
        font-size: 14px;
    }
    
    .visible-md {
        display: none;
    }
    
    .open-menu {
        display: inline-flex;
        color: #fff;
        font-weight: 900;
        font-size: 2rem;
    }
    
    .m-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background-color: #6e45e2;
        font-size: 1.8rem;
        line-height: 3.5rem;
        position: fixed;
        z-index: 1;
        position: fixed;
        transition: .2s;
        transform: translateX(100%);
    }
    
    .m-menu_active {
        transform: translateX(0%);
    }
    
    .m-menu ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .close-menu {
        position: absolute;
        top: 4.2rem;
        right: 2.5rem;
    }
    
    .close-menu a {
        color: #fff;
        font-size: 3rem;
        font-weight: 900;
    }
    
    .hidden a {
        color: #fff;
    }
    
    .hidden button {
        color: #fff;
        font-size: .89rem;
        line-height: 3rem;
        width: 160px;
        height: 43px;
    }
    
    .hidden button:hover {
        border: none;
        background-color: #fff;
        color: #000;
        transition: background-color .1s ease-out;
    }
    
    .items-wrap {
        flex-direction: column;
        align-items: center;
    }
    
    .item {
        width: 90%;
        margin: 0 0 3rem 0;
    }
    
    .item:last-child { margin: 0; }
    
    .item p {
        font-size: 0.9rem;
        line-height: 1.4rem;
    }
    
    .item h5 {
        font-size: 1.8rem;
    }
    
    .item h4 {
        font-size: 1.3rem;
    }
    
    .footer-top {
        justify-content: center;
    }
    
    #page-footer nav { display: none; }
    
    .footer-bottom {
        flex-direction: column;
        align-items: center;
    }
    
    .social i {
        margin-top: .7rem;
        font-size: 1.5rem;
    }
    
    .copyright {
        font-size: .8rem;
        margin-top: 1.5rem;
        order: 2;
    }
}

@media (max-width: 768px) {
    
}